*{
    margin: 0;
}

:root{
    --colorYellowLog: #ebce32;
    --colorYellowCard: #e6c92d;
    --colorBlack: #181816;
    --colorBlackSect: #2d2a17;
    --colorBlackCard: #343530;
}

a{
    text-decoration: none;
}

/*------------------------- Header -----------------------*/
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90px;
    z-index: 100;
    background: var(--colorBlack);
    border-radius: 0 0 30px 30px;
}

/*-------------             Nav-Bar           --------------*/
.contenedor-seccion{
    display: flex;
}

.contenedor-logo{
    width: 200px;
    margin-right: 534px;
}

.logo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}

.logo:hover{
    color: var(--colorYellowLog);
}

.acceso{
    margin-left: 100px;
    padding: 7px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    background: var(--colorYellowLog);
    border-radius: 10px;
}

.acceso:hover{
    color: #fff;
}
/*------------------------- Opciones -----------------------*/
.opciones{
    display: flex;
    align-items: flex-start;
    width: 310px;
    height: 573px;
    background: var(--colorYellowLog);
    border-radius: 25px 25px 0 0;
}

.content-options{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 20px;
}

.content-options li{
    list-style: none;
    margin-bottom: 3px;
    padding: 5px;
}

.content-options li a{
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: var(--colorBlack);
}

.content-options li a:hover{
    background: var(--colorBlack);
    border-radius: 10px;
    color: #fff;
}

/*------------------------- Formulario -----------------------*/
.logueo{
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 573px;
    background: var(--colorBlackCard);
    border-radius: 25px 25px 0 0;
}

.content-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-form h3, a{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
    margin: 70px 20px 30px;
}

.content-form h3 a{
    padding: 5px;
    color: var(--colorYellowLog);
}

.content-form h3 a:hover{
    background: #fff;
    border-radius: 10px;
    color: var(--colorBlack);
}

.formul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.user, .password label{
    color: #fff;
}

.user label, input{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
}

.password{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3px;
    padding: 10px;
}

.password label, input{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
}

