:root{
    --colorYellowLog: #ebce32;
    --colorYellowCard: #e6c92d;
    --coloBlack: #181816;
    --colorBlackSect: #2d2a17;
    --colorBlackCard: #343530;
}

/*------------------------- Header -----------------------*/

/*------------------------- Acciones -----------------------*/

/*------------------------- Ofertas -----------------------*/

/*------------------------- Nosotros -----------------------*/

/*------------------------- Footer -----------------------*/