<form action="/solicitude/apply" class="formulario" name="formulario_registro" method="post">
  <div>
    <div class="input-group">
      <input type="text" id="name" name="name" />
      <label class="label" for="name">Nombre(s):</label>
    </div>
    <div class="input-group">
      <input type="text" id="lastName" name="lastName" />
      <label class="label" for="lastName">Apellido(s):</label>
    </div>
    <input type="submit" id="btn-submit" value="Enviar" />
  </div>
</form>