<form action="/solicitude/apply" class="formulario" name="formulario_registro" method="post">
    <div class="input-group">
      <input type="text" id="name" name="nameApplic" value="Daniel"/>
      <label class="label" for="nameApplic">Nombre(s):</label>
    </div>
    <div class="input-group">
      <input type="text" id="lastName" name="lastName" value="Maya"/>
      <label class="label" for="lastName">Apellido(s):</label>
    </div>
    <div class="input-group">
      <input type="text" id="ciApplic" name="ciApplic" value="00113067363"/>
      <label class="label" for="ciApplic">Carnet de Identidad:</label>
    </div>
    <div class="input-group">
      <input type="text" id="telefApplic" name="telefApplic" value="55094181"/>
      <label class="label" for="telefApplic">Telefono movil:</label>
    </div>
    <div class="input-group">
      <input type="text" id="emailApplic" name="emailApplic" value="danielmaya@gmail.com"/>
      <label class="label" for="emailApplic">Email:</label>
    </div>
    <div class="input-group">
      <input type="text" id="munApplic" name="munApplic" value="Habana del Este"/>
      <label class="label" for="munApplic">Municipio:</label>
    </div>
    <div class="input-group">
      <input type="text" id="street" name="street" value="Edif E-43"/>
      <label class="label" for="street">Calle:</label>
    </div>
    <div class="input-group">
      <input type="text" id="noStreet" name="noStreet" value="56"/>
      <label class="label" for="noStreet">No. Calle:</label>
    </div>
    <input type="submit" id="btn-submit" value="Enviar"/>
  </div>
</form>