<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desde hbs</title>
    <link rel="stylesheet" href="/public/css/styles-login.css">
</head>
<body>
    {{{body}}}

    {{!-- <header>
        <div class="ancho">
            <div class="contenedor-logo">
                <a href="index.html" class="logo"><i>ApiGest</i></a>
            </div>
            <div class="relleno"></div>
            
            <a href="index.html" class="acceso">Principal</a>
        </div>
    </header>

    <div class="contenedor-seccion">
        <section class="opciones">
            <div class="content-options">
                <ul>
                    <li><a href="user-guest-client.html">Invitado</a></li>
                    <li><a href="login-solicitud.html">Solicitud</a></li>
                    <li><a href="login-estado.html">Estado de solicitud</a></li>
                </ul>
            </div>
        </section>
        <section class="logueo">
            <div class="content-form">
                <h3>¿No perteneces a la Asociación?<a href="login-solicitud.html">"Iniciar Solicitud"</a></h3>

                <div class="contenedor-formulario">
                    <div class="wrap">
                        <form action="" class="formulario" name="formulario_registro" method="post">
                            <div>
                                <div class="input-group">
                                    <input type="text" id="user" name="user">
                                    <label class="label" for="user">Nombre(s):</label>
                                </div>
                                <div class="input-group">
                                    <input type="password" id="pass" name="pass">
                                    <label class="label" for="pass">Apellido(s):</label>
                                </div>
                                <div class="input-group">
                                    <input type="password" id="pass" name="pass">
                                    <label class="label" for="pass">Carnet de Identidad:</label>
                                </div>
                                <div class="input-group">
                                    <input type="password" id="pass" name="pass">
                                    <label class="label" for="pass">Certificado del Ministerio de Agricultura:</label>
                                </div>
                                <div class="input-group">
                                    <input type="password" id="pass" name="pass">
                                    <label class="label" for="pass">Teléfono móvil:</label>
                                </div>
                                <div class="input-group">
                                    <input type="password" id="pass" name="pass">
                                    <label class="label" for="pass">Correo electrónico:</label>
                                </div>
                                <div class="input-group">
                                    <input type="password" id="pass" name="pass">
                                    <label class="label" for="pass">Provincia:</label>
                                </div>
                                <div class="input-group">
                                    <input type="password" id="pass" name="pass">
                                    <label class="label" for="pass">Municipio:</label>
                                </div>
                                <div class="input-group">
                                    <input type="password" id="pass" name="pass">
                                    <label class="label" for="pass">Dirección:</label>
                                </div>
                                <div class="input-group checkbox">
                                    <input type="checkbox" name="ver" id="ver" value="false">
                                    <label for="ver">Recibir notificaciones</label>
                                </div>
                                <input type="submit" id="btn-submit" value="Enviar">
                            </div>
                        </form>
                </div>

                <a class="olvido" href="login-registrar.html">¿Olvidaste tu contraseña?</a>
            </div>
        </section class="formulario">
        <section class="notify"> --}}
    
        </section>
    </div>
</body>
</html>